<div class="container">
  <div class="input-group my-5 justify-content-center">
    <div class="form-group col-6">
      <form action="/" method="GET">
        <select
          id="inputState"
          class="form-control ml-2"
          onchange="submit()"
          name="category"
        >
          <option value="">ALL</option>
          <option value="housewares">家居物業</option>
          <option value="transportation">交通出行</option>
          <option value="entertainment">休閒娛樂</option>
          <option value="consumption">餐飲食品</option>
          <option value="others">其他</option>
        </select>
        <input
          type="month"
          id="yearMonth"
          class="mt-4 justify-content-center"
          name="yearMonth"
          min="2001-01"
          max="2100-12"
          value="{{filter_value.yearMonth}}"
          onchange="this.form.submit()"
        />
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="sum d-flex justify-content-center">
    <p>總金額:
      <h1 id="totalAmount" style=" font-size: 100px;margin-left: 10px;">{{totalAmount}}</h1>
    </p>
  </div>

  <div class="expense">
    <ul class="list-group">
      {{#each expenses}}
        <li class="list-group-item disabled container">
          <div class="row justify-content-between">
            <div class="d-flex justify-content-between col-8">
              <div class="front row">
                <div
                  class="d-flex justify-content-center align-items-center mr-4"
                  id="category"
                >
                  <i
                    class="{{this.iconClass}} fa-4x category"
                    id="category"
                  ></i>
                </div>
                <div>
                  <h3 class="name">{{this.name}}</h2>
                  <p class="merchant">{{this.merchant}}</p>
                  <span class="date">{{this.date}}</span>
                </div>
              </div>
              <div class="expense col-4">
                <h2 class="expense number">{{this.amount}}</h2>
              </div>
            </div>

            <div class="col-3">
              <a
                class="btn btn-success"
                href="/expense/edit/{{this._id}}"
              >edit</a>
              <form
                action="/expense/{{this._id}}?_method=DELETE"
                method="POST"
                style="display: inline;"
              >
                <button class="btn btn-danger" type="submit">delete</button>
              </form>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="my-5" style="text-align: center;">
    <a type="button" class="btn btn-primary" href="/expense/new">新增支出</a>
  </div>
</div>
<SCript>
  document.querySelector('option[value={{filter_value.category}}]').selected =
  true
</SCript>
{{!-- <script src="/javascripts/indexPage.js"></script> --}}